body {
    width: 100%;
    height: 100%;
}

.base {
    background: slategray;
    min-height: 300px;
}

.full {
    height: 300px;
}

.experimental {
    height: 200px;
    padding: 0;
}


.fullscreen > .experimental {
    height: 50%;
}

.experimental-first {
    background: #00aaff;
}

.experimental-second {
    background: #999999;
}

.experimental-third {
    background: darkviolet;
}

.experimental-fourth {
    background: ivory;
}

.no-scroll {
    overflow: hidden;
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none !important;
    z-index: 50;
    background-size: cover;
    overflow: hidden;
}

.fullscreen-base {
    background: white;
    z-index: 40;
}

.fullscreen-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 35px;
    height: 35px;
    transition: .1s ease all;
}

.fullscreen-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    transition: .1s ease all;
}

.fullscreen-button img {
    height: 100%;
    width: 100%;
}

body.toggled {
    overflow: hidden;
}


@media only screen and (max-width: 992px) {
    .fullscreen > .experimental {
        height: 25%;
    }
}